# Programming Assignment #004

Below are the problem sets for basics python.

In [1]:
# checking python version
!python --version

Python 3.7.12

## Question 1

Write a Python Program to Find the Factorial of a Number?

#### Solution

In [2]:
def factorialofNumber(num):
    return 1 if (num==1 or num==0) else num * factorialofNumber(num-1)

In [3]:
num = int(input("Enter Number : \t"))
print(f"Factorial of Input Number {num} is {factorialofNumber(num)}")

Enter Number : 	10
Factorial of Input Number 10 is 3628800

## Question 2

Write a Python Program to Display the multiplication Table?

#### Solution

In [4]:
def multiplicationTable(num):
    for i in range(1, 11):
        print(f"{num}x{i}={num*i}")

In [5]:
num = int(input("Enter Number : \t"))
multiplicationTable(num)

Enter Number : 	6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

## Question 3

Write a Python Program to Print the Fibonacci sequence?

#### Solution

In [6]:
def printFibonacciSeq(n):
    a = 0
    b = 1

    if n<1:
        print("Enter positive Number")
    elif n==1:
        print("Fibonacci Sequence : ")
        print(a)
    else:
        print("Fibonacci Sequence : ")
        for i in range(n):
            print(a)
            c = a+b
            a = b
            b = c

In [7]:
printFibonacciSeq(10)

Fibonacci Sequence :
0
1
1
2
3
5
8
13
21
34

## Question 4

Write a Python Program to Check Armstrong Number?

#### Solution

Example of armstrong Number,

In [8]:
153 == 1*1*1 + 5*5*5 + 3*3*3

True

In [9]:
import math
def order(num):
    return int(math.log10(num))+1

def isArmstrong(num):
    n = order(num)
    s = 0
    temp = num

    while temp!=0:
        r = temp%10
        s += r**n
        temp = temp//10

    return s==num

In [10]:
isArmstrong(153)

True

## Question 5

Write a Python Program to Find Armstrong Number in an Interval?

#### Solution

In [11]:
lower_bound = 100
upper_bound = 1000

In [12]:
for r in range(lower_bound, upper_bound+1):
    if isArmstrong(r):
        print(f"Number {r} is Armstrong Number")

Number 153 is Armstrong Number
Number 370 is Armstrong Number
Number 371 is Armstrong Number
Number 407 is Armstrong Number

## Question 6

Write a Python Program to Find the Sum of Natural Numbers?

#### Solution

Given a number n find sum of first n natural numbers.

```
n = 6
6+5+4+3+2+1 = 21
```

In [13]:
def findSum(n) :
    return (n / 2) * (n + 1) if (n % 2 == 0) else ((n + 1) / 2) * n

In [14]:
findSum(6)

21.0

In [15]:
findSum(8)

36.0