# Programming Assignment #002

Below are the problem sets for basics python.

In [1]:
# checking python version
!python --version

Python 3.7.12

## Question 1

Write a Python program to convert kilometers to miles?

#### Solution

In [4]:
# user input (kilometers)
kms = float(input("Enter kilometers value\t"))

# formula
miles = kms * 0.62137

print(f"{kms}Kms is equivalent to {miles:.3f} miles")

Enter kilometers value	20
20.0Kms is equivalent to 12.427 miles

## Question 2

Write a Python program to convert Celsius to Fahrenheit?

#### Solution

In [5]:
# user input (celsius)
c = float(input("Enter Celcius degrees\t"))

# formula
f = c * (9/5) + 32

print(f"{c}C is equivalent to {f:.3f}F")

Enter Celcius degrees	100
100.0C is equivalent to 212.000 F

## Question 3

Write a Python program to display calendar?

#### Solution

In [6]:
# using built-in module
import calendar

# display month
year = 2021
month = 12

print(calendar.month(year, month))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [7]:
# display full year
year = 2022

print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## Question 4

Write a Python program to solve quadratic equation?

#### Solution

the main aim is to find the roots of the equation which is,

$$ax^2 + bx + c$$

where,
a, b, and c are coefficient and real numbers and also $a â‰  0$.

Using below formula we find the roots of the equation,

$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

In [10]:
# user input two variables
a = int(input("Input first number, (0 not allowed)\t"))    
b = int(input("Input second number\t"))
c = int(input("Input third number\t"))

# calculate discriminant
dis = (b**2) - (4*a*c)

# finding 2 roots

import cmath

root1 = (-b + cmath.sqrt(dis))/(2*a)
root2 = (-b - cmath.sqrt(dis))/(2*a)

print(f"Roots of equation {a}x^2 + {b}x + {c} are,\n{root1}\n{root2}")

Input first number, (0 not allowed)	1
Input second number	1
Input third number	1
Roots of equation 1x^2 + 1x + 1 are,
(-0.5+0.8660254037844386j)
(-0.5-0.8660254037844386j)

## Question 5

Write a Python program to swap two variables without temp variable?

#### Solution

In [9]:
# user input two variables
a = int(input("Input first number\t"))
b = int(input("Input second number\t"))
print("--------------------")
print(f"Value of a = {a}, value of b = {b}")

# using tuple swap
a, b = b, a

print(f"After Swapped Operation\nValue of a = {a}, value of b = {b}")

Input first number	5
Input second number	77
--------------------
Value of a = 5, value of b = 77
After Swapped Operation
Value of a = 77, value of b = 5