# Assignment #004

Below are the problem sets for basics python.

In [1]:
# checking python version
!python --version

Python 3.7.12

## Question 1

What exactly is []?

#### Solution

`[]` represents an empty list in Python.

In [2]:
my_list = []
print(type(my_list))

<class 'list'>

## Question 2

In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

#### Solution

In [3]:
# define spam
spam = [2, 4, 6, 8, 10]

# assign hello as third value
print(f"Original list : {spam}")
print(f"Third value is : {spam[2]}")
spam[2] = "hello"

print(f"New list becomes : {spam}")

Original list : [2, 4, 6, 8, 10]
Third value is : 6
New list becomes : [2, 4, 'hello', 8, 10]

## Question 3

Assuming,

```python
spam = ['a', 'b', 'c', 'd']
```

What is the value of `spam[int(int('3' * 2) / 11)]`?

#### Solution

Steps,
1. spam[int(int('3'*2)/11)]
2. spam[int(int('33')/11)]
3. spam[int(33/11)]
4. spam[int(3.0)]
5. spam[3] = 'd'

In [4]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3'*2)/11)]

'd'

## Question 4

Assuming,

```python
spam = ['a', 'b', 'c', 'd']
```

What is value of spam[-1]?

#### Solution

In [5]:
spam = ['a', 'b', 'c', 'd']
spam[-1]

'd'

## Question 5

Assuming,

```python
spam = ['a', 'b', 'c', 'd']
```

What is the value of spam[:2]?

#### Solution

This is called string slicing.

In [6]:
spam = ['a', 'b', 'c', 'd']
spam[:2]

['a', 'b']

## Question 6

Assuming,

```python
bacon = [3.14, 'cat', 11, 'cat', True]
```

What is the value of bacon.index('cat')?

### Solution

Returns first occurance index.

In [7]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

## Question 7

Assuming,

```python
bacon = [3.14, 'cat', 11, 'cat', True]
```

How does bacon.append(99) change the look of the list value in bacon?

### Solution

In [8]:
bacon = [3.14, 'cat', 11, 'cat', True]

print(f"Original List : {bacon}")
bacon.append(99)
print(f"Updated List : {bacon}")

Original List : [3.14, 'cat', 11, 'cat', True]
Updated List : [3.14, 'cat', 11, 'cat', True, 99]

## Question 8

Assuming,

```python
bacon = [3.14, 'cat', 11, 'cat', True]
```

How does bacon.remove('cat') change the look of the list in bacon?

### Solution

Removes first instance of 'cat'

In [9]:
bacon = [3.14, 'cat', 11, 'cat', True]

print(f"Original List : {bacon}")
bacon.remove('cat')
print(f"Updated List : {bacon}")

Original List : [3.14, 'cat', 11, 'cat', True]
Updated List : [3.14, 11, 'cat', True]

## Question 9

What are the list concatenation and list replication operators?

### Solution

Operator used for list concatenation is `+`, whereas operator used for list replication is `*`.

In [10]:
# list concatenation

list_a = ['hello', 'my', 'name']
list_b = ['is', 'Himanshu']

list_a + list_b

['hello', 'my', 'name', 'is', 'Himanshu']

In [11]:
# list replication

list_a = ['3', 'tom', True]

list_a*2

['3', 'tom', True, '3', 'tom', True]

## Question 10

What is difference between the list methods append() and insert()?

### Solution

In [12]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [13]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

Append inserts an element to the end of the list, whereas insert method make use of index parameter to insert an element in the list.

In [14]:
my_list = [1, 2, 3, 5]

append_6 = 6
insert_4 = 4

# append operation
print(f"Original List : {my_list}")
my_list.append(append_6)
print(f"Updated List : {my_list}")

# insert operation
print(f"Inserting value 4 at index no 3")
my_list.insert(3, insert_4,)
print(f"Updated List : {my_list}")

Original List : [1, 2, 3, 5]
Updated List : [1, 2, 3, 5, 6]
Inserting value 4 at index no 3
Updated List : [1, 2, 3, 4, 5, 6]

## Question 11

What are the two methods for removing items from a list?

### Solution

In [15]:
# define a list
my_list = ['cat', 12, True, 213.23, "dog"]

In [16]:
# using remove()
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [17]:
my_list.remove(True)
my_list

['cat', 12, 213.23, 'dog']

In [18]:
# using del, removes specific index
del my_list[1]
my_list

['cat', 213.23, 'dog']

In [19]:
# using pop
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [20]:
my_list.pop(0) # removes first element
my_list

[213.23, 'dog']

## Question 12

Describe how list values and string values are identical.

### Solution

We can use loops, concatenation, replication methods, slicing to both list values and string values.

In [21]:
string = "mycat"
my_list = ['m', 'y', 'c', 'a', 't']

In [22]:
# using length method
len(string), len(my_list)

(5, 5)

In [23]:
# slicing first 2 characters
string[:2], my_list[:2]

('my', ['m', 'y'])

In [24]:
# check if t in string and list
't' in string, 't' in my_list

(True, True)

In [25]:
# concatination
string + 's', my_list + ['s']

('mycats', ['m', 'y', 'c', 'a', 't', 's'])

## Question 13

What's the difference between tuples and lists?

### Solution

|Lists|Tuple|
|--|--|
|Mutable, values can be modified|Immutable, values cannot be modified.|
|Better for insertion and deletion|Better for accessing value|

In [26]:
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)

In [27]:
my_list[0] = 100
my_list

[100, 2, 3, 4]

In [29]:
my_tuple[0] = 100
my_tuple

TypeError: ignored

In [30]:
# size allocated in memory difference
my_list.__sizeof__(), my_tuple.__sizeof__()

(72, 56)

## Question 14

How do you type a tuple value that only contains the integer 42?

### Solution

In [31]:
my_tuple = (42,)
my_tuple, type(my_tuple)

((42,), tuple)

## Question 15

How do you get a list value's tuple form? How do you get a tuple value's list form?

#### Solution

In [32]:
my_list = [1,2,3,4]
print(tuple(my_list))

(1, 2, 3, 4)

In [33]:
my_tuple = (1,2,3,4)
print(list(my_tuple))

[1, 2, 3, 4]

## Question 16

Variables that contain list values are not necessarily lists themselves. Instead, what do they contain?

#### Solution

Variables do not store values directly. 

Python variables work with references to objects representing the values. 

For example, we have 

a = [1,2,3]

Python creates a new reference for a to point at the object representing the value [1,2,3] in the memory.

## Question 17

How do you distinguish between copy.copy() and copy.deepcopy()?

### Solution

Let's understand by an example,

In [34]:
# import copy module
import copy

# initialize our list
my_list = [1, [2, 3], 4]

In [35]:
copy_list = copy.copy(my_list)

print(id(my_list))
print(id(copy_list))

print(id(my_list[1]))
print(id(copy_list[1]))

139706859224912
139706799779584
139706799394160
139706799394160

copy_list becomes new object but my_list[1] is same object as copy_list[1]

In [36]:
deepcopy_list = copy.deepcopy(my_list)

print(id(my_list))
print(id(deepcopy_list))

print(id(my_list[1]))
print(id(deepcopy_list[1]))

139706859224912
139706799405568
139706799394160
139706799406288

deepcopy_list becomes new object and my_list[1] is new object